@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

a:hover {
  color: #6fda44 !important;
}

/* Base styles */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/hero.svg");
}

/* Tablet and up */
@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

/* Small laptops and up */
@media (min-width: 1024px) {
  .container {
    padding: 0 2.5rem;
  }
}

/* Desktops and up */
@media (min-width: 1280px) {
  .container {
    padding: 0 3rem;
  }
}

/* Large desktops and up */
@media (min-width: 1920px) {
  .container {
    padding: 0 5rem;
  }
}
